%h1 Users#index

.users
  = div_for @users do |u|
    = u.email
    - if u == current_user
    - elsif not u.followed? current_user
      = link_to "follow", user_follow_path(u), method: :post
    - else
      = link_to "unfollow", user_follow_path(u), method: :delete